h1 {
    color: red;
}

h4 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(197, 66, 5);
}

.class1 {
    color: #660000;
}

.spacing {
    color: #660000;
    letter-spacing: 5px;
}

.class2 {
    font-weight: bolder;

}

.highlight {
    background-color: yellow;
}

.line1 {
    text-decoration: line-through;
}

.line {
    font-style: italic;
    text-decoration: underline; color: #660000;
}

.class3 {
    fotn font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bolder;
    color: red;
    font-style: italic;
}

.class4 {
    color: rgb(145, 48, 4);
}

.link1 {
    font-style: italic;
    background-color: yellow;
    color: red;
}